#grad1 {
    width:100%;
    height:100%;
     /* For browsers that do not support gradients */
     background-size: cover;
    /* background:linear-gradient(to right, rgb(76, 179, 243) 0%,rgb(187, 102, 226) 100%,rgba(162,52,213,1) 100%); */
    background:linear-gradient(to left,rgb(84, 84, 238)  ,rgb(97, 173, 243) )
 }
 .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
 }
 
 .banner-content {
    float: left;
    width: 50%;
    padding-right: 20px;
    padding: 50px 15px 18px 0;
 }
 img {
    vertical-align: top;
    border: 0;
 }
 .win-big {
    font-size: 26px;
    color: #3d4d65;
    font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
    margin: 0 0 20px 25px;
    line-height: 1.25;
    text-transform: uppercase;
    padding: 0 0 0 50px;
    margin-top: 50px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.31) 69%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(69%,rgba(255,255,255,0.31)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.31) 69%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.31) 69%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.31) 69%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.31) 69%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
 }
 .win-big span {
    font-weight: 700;
    font-size: 60px;
 }
 
 .account-details{
    float: right;
    width: 100%;
    padding: 25px 25px 20px;
    margin:80px 57px;
    color:#fff;
    text-align: center;
 }
 
 .account-verification{
    float: right;
    width: 100%;
    padding: 25px 25px 20px;
    margin: 80px 0;
    color: #fff;
    text-align: center;
 }
 .signup-form {
    float: right;
    width: 100%;
    /* background: url(../images/bgi/form-bg.png); */
    background: rgba(0,0,0,0.4);
    border-radius: 5px;
    border: 1px solid #5a5492;
    padding: 25px 25px 20px;
    margin: 80px 0;
    color: #fff;
    text-align: center;
 }
 
 .wrap {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    font-size:28px;
    text-align:center;
 }
 
 #join{
    text-align: center;
 }
 #con{
    text-align:center;
    font-size:17px;
 }