<!-- <div class="container">
    <div class="row">
   
   <div class="col-sm-2"></div>
   <div class="col-sm-9 auction-block" style="text-align:center">
       <div class="containerone">
    <h1>MEET WINNERS</h1>    
</div>
    <div class="c" id="borderimg">
      <h2>TOP 10 Winners</h2>
      <br><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;
       <i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;<i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;
       <br><br>
       <ol>
            <li>shanthosh</li>
            <li>subha</li>
            <li>madahn</li>
          </ol>
   
    </div>
   </div>
   <div class="col-sm-1"></div>
   
   
    
   </div>
   </div> -->
   <div class="container boxshadow containerone" style="text-align: center">
        <h1 class="pull-left">MEET WINNERS</h1>
   </div>
   <div class="container content boxshadow">
     <div class="row">
           
         <div class="col-sm-2"></div>
         <div class="col-sm-8">
                <div class="c" id="borderimg">
                    <div class="row">
                            <h2>TOP 10 Winners</h2>
                            <br><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;
                        <i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;<i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;
                    </div>
                        <div class="row" style="margin-top: 100px">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        
                        <!-- <br><br> -->
                        <ol>
                        <li>shanthosh</li>
                        <li>subha</li>
                        <li>madahn</li>
                        </ol>
                    </div>
                <div class="col-sm-4"></div>
                        </div>
                      </div>
         </div>
         <div class="col-sm-2"></div>
      
     </div>
     
   </div>