<div class="container boxshadow" id="containerone">
  <h1 class="pull-left">MY INFORMATION</h1>
</div>
<div class="container content boxshadow">
  <div class="row">
     <div class="col-sm-6">
        <div class="panel panel-default ">
           <div class="panel-heading"><b>MY INFORMATION</b></div>
           <div class="panel-body">
              <form class="form-inline" action="/action_page.php">
                 <div class="form-group" style="text-align: right"><br>
                    <label for="text">UserName:</label>
                    <input type="text"  class="form-control" id="user" autocomplete="off" readonly>
                    <br><br><label for="email">Email:</label>&nbsp;&nbsp;&nbsp;
                    <input type="email" class="form-control" id="email" autocomplete="off" readonly>
                    <br><br><label for="text">Public Key:</label>&nbsp;&nbsp;&nbsp;
                    <input type="text"  class="form-control" id="pub" autocomplete="off" readonly>
                    <br><br><label for="text">Account Balance:</label>&nbsp;&nbsp;&nbsp;
                    <input type="text"  class="form-control" id="accbal" autocomplete="off" readonly><br><br>
                 </div>
              </form>
           </div>
        </div>
     </div>
     <div class="col-sm-6">
        <div class="panel panel-default">
           <div class="panel-heading"><b>Change Password</b></div>
           <div class="panel-body">
              <form class="form-inline" action="/action_page.php">
                 <br>
                 <div class="form-group" style="text-align: right">
                    <label for="password">Old password:</label>&nbsp;&nbsp;&nbsp;
                    <input type="password" class="form-control" id="oldpass"  placeholder="Enter Oldpassword">
                    <br><br><label for="password">New password:</label>&nbsp;&nbsp;&nbsp;
                    <input type="password" class="form-control" id="newpass"  placeholder="Enter Newpassword">
                    <br><br><label for="password">Confirm password:</label>&nbsp;&nbsp;&nbsp;
                    <input type="password" class="form-control" id="conpass"  placeholder="Enter Confirmpassword">
                 </div>
              </form>
              <br><button routerLink="/login"  class="btn btn-warning" id="btn">&nbsp;<i class="fas fa-sync-alt"></i>&nbsp;&nbsp;Change password</button>
              <br>
           </div>
        </div>
     </div>
  </div>
  <div class="row" >
     <div class="col-sm-3">
     </div>
     <div class="col-sm-6">
        <div class="panel panel-default">
           <div class="panel-heading"><b>STATISTICS</b></div>
           <div class="panel-body">
              <form class="form-inline" action="/action_page.php">
                 <br>
                 <div class="form-group" style="text-align: right">
                    <label for="number">Auction Participated:</label>
                    <input type="number" class="form-control" id="Auction"  readonly>
                    <br><br><label for="number">Auction wons:</label>&nbsp;&nbsp;&nbsp;
                    <input type="number" class="form-control" id="won"  readonly>
                    <br><br><label for="number">Credits Left:</label>&nbsp;&nbsp;&nbsp;
                    <input type="number" class="form-control" id="left" readonly><br><br>
                 </div>
              </form>
           </div>
        </div>
     </div>
     <div class="col-sm-3">
     </div>
  </div>
</div>